.search-bar {
  display: flex;
  padding: 10px;
  background-color: antiquewhite;
}
.search-bar__title {
  margin-right: auto;
}
.search-bar__form {
  display: flex;
  margin-right: 10px;
}

.search-bar__search {
  border: 0;
  height: 25px;
  margin-right: 5px;
  padding: 5px;
}
.search-bar__search:focus {
  outline: none;
}
.search-bar__submit {
  border: 0;
  background-color: gold;
  color: white;
}

.menu-bar {
  display: flex;
}

.menu-bar__item {
  background-color: gold;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  flex: 1 1 0;
  text-align: center;
  transition: 1s;
}
.menu-bar__item:hover {
  color: white;
  background-color: crimson;
  flex-grow: 1.5;
  transition: 1s;
}

.bullet-box {
  padding: 15px;
}

.bullet-list__item {
  display: flex;
  margin-bottom: 5px;
}
.bullet-list__item::before {
  content: "★";
  margin-right: 5px;
}

.my {
  margin-top: 20px;
}
.my__item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.my__item__img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: start;

  background-size: cover;
  border-radius: 40%;
  border: 2px solid black;
  flex-shrink: 0;
}
.my__item__p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-box {
  padding: 10px;
}
.card-box__item {
  margin-bottom: 10px;
}

.card-box__item-img {
  background-color: rgb(126, 163, 195);
  padding: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-box__item-text {
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

@media (min-width: 600px) {
  main {
    display: flex;
    flex-grow: 1;
  }
  .bullet-box {
    width: 20%;
  }
  .card-box {
    width: 60%;
  }
  .user {
    width: 20%;
  }
  .card-box__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .card-box__item {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .card-box__item {
    width: 33.333333%;
  }
}
.user {
  padding: 20px;
}
.user-list {
}
.user-item {
  display: flex;
  margin-bottom: 10px;
}
.user-photo {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .bullet-box {
    order: 2;
  }
  .card-box {
    order: 1;
  }
  .user {
    order: 3;
  }
}

footer {
  height: 70px;
  background-color: gold;
}

body {
  height: 1200px;
  display: flex;
  flex-direction: column;
}
